{% extends 'base.html' %}

{% block title %}
ЭСТ - Личные сообщения
{% endblock %}

{% block body %}
        <div class="blocktextprofile">
            {% if current_user.is_authenticated %}
            <div class="container-fluid">
                <div class="card-deck mb-3 text-center animationleft">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal"><font size="5" color="white" face="Arial"><b>Мои диалоги</b></font></h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                {% for receiver in user_receivers %}
                                <p><a href="user={{receiver.user_id}}-dialogue" class="btn btn-data btn-block" id="Department"><font size="4" color="white" face='Arial'><b>{{receiver.surname}} {{receiver.name}} {{receiver.patronymic}}, {{receiver.group_name}}</b></font></a></p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}