{% extends 'base.html' %}

{% block title %}
ЭСТ - Добавление мероприятия
{% endblock %}

{% block body %}
        <div class="blocktextnewmovie" id ="NewActivityPage">
{% if current_user.is_authenticated and (current_user.u_group_id == 1 or current_user.u_group_id == 2) %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p></p>
                        <form action="" method="post" autocomplete="off" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label class="sr-only" for="ActivityData"><font size="4" color="ghostwhite" face="Rationale"><b>Title of the Movie</b></font></label>
                                <input type="text" class="form-control" name="activity_name" id="ActivityData"  placeholder="Мероприятие" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="DescriptionData"><font size="4" color="ghostwhite" face="Rationale"><b>Description of the Movie</b></font></label>
                                <input type="text" class="form-control" id="DescriptionData" name="activity_description" placeholder="Описание" required>
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="Date" name="activity_date"
                                       value="{{current_year}}-{{current_month}}-{{current_day}}"
                                       min="{{current_year}}-{{current_month}}-{{current_day}}" max="{{current_year+2}}-12-31" placeholder="Дата" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-auth disabled btn-block" id="FineAddition"><font size="4" face="Arial"><b>Добавить мероприятие</b></font></button>
                            </div>
                        </form>
                    </div>
                </div>
                <script>
                    (function() {
                        'use strict';
                        window.addEventListener('load', function() {
                            var forms = document.getElementsByClassName('needs-validation');
                            var AdderPage = document.getElementById("NewActivityPage");
                            var ActivityInput = document.getElementById("ActivityData");
                            var DescriptionInput = document.getElementById("DescriptionData");
                            var DateInput = document.getElementById("Date");
                            var FineAddition = document.getElementById('FineAddition');
                            var validation = Array.prototype.filter.call(forms, function(form) {
                                form.addEventListener('FineAddition', function(event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                }, false);
                            });

                                    ActivityInput.onkeyup = function() {
                                        if (ActivityInput.value.length >= 1 && DescriptionInput.value.length >= 1 && DateInput.value.length >= 1) {
                                            FineAddition.classList.remove('disabled');
                                        }
                                        else {
                                            FineAddition.classList.add('disabled');
                                        }
                                    }
                                    DescriptionInput.onkeyup = function() {
                                        if (ActivityInput.value.length >= 1 && DescriptionInput.value.length >= 1 && DateInput.value.length >= 1) {
                                            FineAddition.classList.remove('disabled');
                                        }
                                        else {
                                            FineAddition.classList.add('disabled');
                                        }
                                    }
                                    AdderPage.onmousemove = function() {
                                        if (ActivityInput.value.length >= 1 && DescriptionInput.value.length >= 1 && DateInput.value !== "") {
                                            FineAddition.classList.remove('disabled');
                                        }
                                        else {
                                            FineAddition.classList.add('disabled');
                                        }
                                    }
                        }, false);
                    })();
                </script>
            </div>
{% endif %}
        </div>
{% endblock %}